# Файл: .gitignore

# Игнорируем кэш Python
__pycache__/
*.pyc

# Игнорируем виртуальные окружения
venv/
.venv/
env/
.env/

# Игнорируем файлы IDE
.idea/
.vscode/

# САМОЕ ВАЖНОЕ: Игнорируем файлы с секретными данными и базу данных
.env
bot_database.db
*.sqlite3


# Игнорируем кэш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd