# Игнорируем кэш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# C extensions
*.so

# Файлы сборки и дистрибуции
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Виртуальные окружения
venv/
.venv/
env/
.env/

# Секретные данные
.env
*.env.*
secrets.py

# Файлы баз данных
*.sqlite3
db.sqlite3
bot_database.db

# Файлы IDE
.idea/
.vscode/